* {
  text-align: center;
}
.container {
  width: 90%;
  margin: 200px auto;
  background-color: white;
  border-radius: 15px;
}
body {
  background: linear-gradient(45deg, yellow, purple);
}
.table {
  margin: 0 auto;
  background-color: transparent;
  width: 100%;
}
.header:hover {
  background-color: rgb(8, 7, 9);
  color: rgb(160, 155, 155);
}
.header {
  transition: all 2s;
  border-radius: 15px;
}

.search {
  width: 100%;
  height: 30px;
}

.searcher {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px 0;
}
