* {
  text-align: center;
}
.container {
  width: 80%;
  border-radius: 15px;
  margin: 0 auto;
  margin-top: 100px;
  background-color: white;
  padding-bottom: 5px;
}
body {
  background: linear-gradient(45deg, yellow, purple);
}
.table {
  margin: 0 auto;
}
.header:hover {
  background-color: gold;
  color: rgb(198, 12, 255);
}
.header {
  transition: all 1s;
  border-radius: 15px;
}
.searcher {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.search {
  width: 60%;
}
table {
  width: 100%;
}
.add-user {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin: 10px 0;
}
.adder {
  width: 27%;
  height: 25px;
}
.adder-btn {
}
.test {
  width: 500px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.edit-age {
  width: 50px;
}
.edit {
  width: 120px;
}
